body {
  margin: 0;
  font-size: 17px;
  font-family: "Segoe Print", cursive;
  color: orange;
  background-color: #cccccc;
}

h1, p {
  text-align: center;
}

.todoList, h1, p {
  width: 900px;
  background-color: #333333;
  margin: 3% auto;
  padding: 30px;
  border-radius: 5px;
}

.add-todo {
  margin: 1% 20%;
}

.item {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 5px;
  margin: 3%;
  list-style: none;
  padding: 1% 0;
}

.itemsList {
  padding-left: 0;
}

.item .line-through {
  text-decoration: line-through;
  padding: 0 2%;
}

.item .no-decoration {
  text-decoration: none;
  padding: 0 2%;
}

.info-no-items {
  width: 850px;
}

label input {
  margin-left: 2%;
}

.svg-inline--fa {
  margin-right: 10px;
}

button {
  background-color: orange;
  border: 1px solid black;
  border-radius: 5px;
  width: 10%;
}

.todoForm {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}

.todoForm button, .todoForm input, .DayPickerInput input {
  padding: 1%;
  border-radius: 5px;
}

.DayPickerInput input {
  padding: 8.718px;
  margin-left: 44%
}

.line-through, .no-decoration {
  width: 40%;
}